<div class="container">
  <div class="column">
    <div class="group-1">
      <div class="about-us">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto nisi ipsum in, dolorum tenetur, expedita explicabo tempore numquam maiores voluptatem asperiores, perferendis nihil labore eius id. Ullam animi id nam.</p>
      </div>
      <div class="subscribe">
        <label for="">Subscribe</label>
        <input type="text">
      </div>
    </div>
  </div>
  <div class="column">
    <div class="group-2">
      <div class="quick-links">
        <ul>
          <li>APPARREL</li>
          <li>SHOES</li>
          <li>CONTACT US</li>
          <li>LIVE EVENTS</li>
          <li>SOCIAL</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="group-3">
      <div class="contact-info">
        <ul>
          <li> <i></i> Address: 123 Oak Drive , Somewhere PA</li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>
