<div class="container">
  <div class="column">
    <div class="group-1">
      <div class="about-us">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto nisi ipsum in, dolorum tenetur, expedita explicabo tempore numquam maiores voluptatem asperiores, perferendis nihil labore eius id. Ullam animi id nam.</p>
      </div>
      <div class="subscribe">
        <label for="">Subscribe</label>
        <input type="text">
        <button>SUBMIT</button>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="group-2">
      <div class="quick-links">
        <ul>
          <li> <a href="http://">APPARREL</a></li>
          <li> <a href="http://">CONTACT US</a></li>
          <li> <a href="http://">LIVE EVENTS</a></li>
          <li> <a href="http://">SOCIAL</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="group-3">
      <div class="contact-info">
        <ul>
          <li> <i class="fas fa-location-arrow"></i> 123 Oak Drive , Somewhere PA</li>
          <li> <i class="fas fa-phone"></i>999-999-9999</li>
          <li> <i class="fas fa-clock"></i>MTWTF 9AM-5PM</li>
        </ul>
      </div>
    </div>
  </div>
</div>
