
<div class="container">

    <div class="col title">
      laced
    </div>

    <div class="col">
    <div class="links">
      <ul>
        <li>CUSTOM SHOES</li>
        <li>APPARREL</li>
        <li>NEW MERCH</li>
      </ul>
    </div>

    </div>

    <div class="col">
        <div class="group-right">
            <div class="col"><i class="fas fa-shopping-cart">(0) : Total: $0.00</i></div>
            <div class="col">about us</div>
            <div class="col">contact us</div>
          </div>
    </div>


</div>
