.container
  display: flex
  max-width: 100vw
  height: 800px
  max-height: 800px
  background-image: url('../../../assets/hero.png')
  background-repeat: no-repeat
  background-size: cover


.welcome
  display: flex
  flex-direction: column
  width: 400px
  max-width: 400px
  max-height: 400px
  margin: 5em
  text-align: center
  justify-content: center
  font-family: 'Rock Salt', cursive

  & .welcome-text
     font-family: 'Covered By Your Grace', cursive
     font-size: 20px



  button
    width: 200px
    max-width: 200px
    height: 50px
    border-radius: 15px
    font-size: 15px
    align-self: center
    background-color: white
