<div class="arrow">

</div>
<div class="container">
  <div class="col arrow">
      <div class="arrow-left">
          <
        </div>
  </div>
    <div class="col">
      <div class="product-1">
        <img src="../../../assets/spacejams.png" alt="" srcset="">
        <div class="product-name">Product Name</div>
        <div class="product-description">general product description</div>
        <div class="price sold-out">$999.99</div>
        <button>BUY NOW</button>
      </div>
    </div>
    <div class="col">
      <div class="product-1">
        <img src="../../../assets/spacejams.png" alt="" srcset="">
        <div class="product-name">Product Name</div>
        <div class="product-description">general product description</div>
        <div class="price sold-out">$999.99</div>
        <button>BUY NOW</button>
      </div>
    </div>
    <div class="col">
      <div class="product-1">
        <img src="../../../assets/spacejams.png" alt="" srcset="">
        <div class="product-name">Product Name</div>
        <div class="product-description">general product description</div>
        <div class="price sold-out">$999.99</div>
        <button>BUY NOW</button>
      </div>
    </div>
    <div class="col">
      <div class="product-1">
        <img src="../../../assets/spacejams.png" alt="" srcset="">
        <div class="product-name">Product Name</div>
        <div class="product-description">general product description</div>
        <div class="price sold-out">$999.99</div>
        <button disabled="disabled">SOLD OUT</button>

      </div>
    </div>

    <div class="col arrow">
        <div class="arrow-right">
          >
          </div>
    </div>
  </div>

