<div class="container">
  <div class="col">
  <div class="review-header"> User Reviews</div>
  <div class="user">
  <div class="profile-picture"><img src="../../../assets/user.png" alt="" srcset=""></div>
  <div class="user-msg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, veritatis eum amet placeat aut, libero perferendis molestias tempora inventore cumque provident fuga voluptatum cupiditate voluptas aspernatur, explicabo velit. Porro, doloremque?
      <div class="react"><i class="far fa-thumbs-up"></i> <i class="far fa-thumbs-down"></i></div>
  </div>
  </div>
  <div class="user">
  <div class="profile-picture"><img src="../../../assets/user.png" alt="" srcset=""></div>
  <div class="user-msg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, veritatis eum amet placeat aut, libero perferendis molestias tempora inventore cumque provident fuga voluptatum cupiditate voluptas aspernatur, explicabo velit. Porro, doloremque?
      <div class="react"><i class="far fa-thumbs-up"></i> <i class="far fa-thumbs-down"></i></div>
  </div>
  </div>
  <div class="user">
  <div class="profile-picture"><img src="../../../assets/user.png" alt="" srcset=""></div>
  <div class="user-msg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, veritatis eum amet placeat aut, libero perferendis molestias tempora inventore cumque provident fuga voluptatum cupiditate voluptas aspernatur, explicabo velit. Porro, doloremque?
      <div class="react"><i class="far fa-thumbs-up"></i> <i class="far fa-thumbs-down"></i></div>
  </div>
  </div>
  </div>
  <div class="col">
    <div class="location">
      <h5>STORE LOCATION</h5>
      <h2>BORO'</h2>
    </div>
  </div>
</div>
